@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    transition: ease .8s;
    font-family: 'Fira Code', sans-serif !important;
    /* transition: all 1s cubic-bezier(.25,.8,.25,1); */
}

/*===== colors =====*/
:root {
    /*bg color*/
    --bg-first1: #181818;
    --bg-first2: #262626;
    --bg-second1: #328432 ;
    --bg-second2: #00a000;
    --bg-third1: #3f3f3f;
    --bg-third2: #343434;
    --bg-first-opp: #ddd;
    --bg-white: #e1e1e1;
    /*text color*/
    --text-first1: #ffffff;
    --text-first2: #e5e5e5;
    --text-second1: #328432;
    --text-second2: #00a000;
    --text-third1: #b7b7b7;
    --text-first-opp: #212121;
}

.light-mode:root {
    /*bg color*/
    --bg-first1: #f1f1f1;
    --bg-first2: #e4e4e4;
    --bg-second1: #0000ff;
    --bg-second2: #1a53ff;
    --bg-third1: #cccccc;
    --bg-third2: #857777;
    --bg-first-opp: #212121;
    --bg-white: #fff;
    /*text color*/
    --text-first1: #212121;
    --text-first2: #212121;
    --text-second1: #0040ff;
    --text-second2: #1a53ff;
    --text-third1: #b7b7b7;
    --text-first-opp: #e5e5e5;
}

.text-first {
    color: var(--text-first2);
}

/*===== font size =====*/
.normal-font-size {
    font-size: 1.5rem;
}

/*< LG*/

@media screen and (max-width: 992px) {
    .h1-line span {
        font-size: 2rem !important;
    }
    .h2-line{
        font-size: 1.5rem !important;
    }
    .normal-font-size {
        font-size: 0.9rem;
    }
    .about p {
        border-left: none !important;
        font-size: 1rem !important;
    }
    /* #text-about {
        border-left: none;
        font-size: 1rem;
    } */
    .skill__title {
        font-size: 1.25rem !important;
    }
    .left-arrow, .right-arrow {
        font-size: 1rem !important;
    }
}
/*SECTIONS*/
header{

}
section.main{
    background-color: var(--bg-first1);
}
section.about{
    background-color: var(--bg-first2);
    padding: 28px 0 10px 0;
}
section.skill{
    background-color: var(--bg-first1);
    padding: 28px 0 60px 0;
}
section.projects{
    background-color: var(--bg-first2);
    padding: 28px 0;
}
section.contact{
    background-color: var(--bg-first1);
    padding: 28px 0;
}
footer{
    background-color: var(--bg-first2);
}
/*//SECTIONS COLOR*/

/*H1 TITLE*/
.h1-line {
    text-align: center;
    display: flex;
    justify-content: center;
}

.h1-line span {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--text-first2);
    position: relative;
    display: inline;
    /*se for h1*/
    word-wrap: break-word;
}

.h1-line span::before, .h1-line span::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 160px;
    bottom: -5%;
    right: 0px;
    /* background: rgba(255, 255, 255, 0.3); */
    background: var(--bg-second1);
}

.h1-line span::after {
    left: 0px;
}

hr {
    max-width: 30%;
    margin: auto 0;

    height: 4px;
    background-color: #fff;

    padding: 0 !important;
    margin: 0 !important;
    border-width: 2px;
}

.h2-line {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-first2);
    /* position: relative;
    display: inline; */

    text-align: center;
    /* display: flex;
    justify-content: center; */

    /* border-bottom: 2px solid var(--text-first2); */
    border-bottom: 2px solid var(--bg-second1);
    /*se for h1*/
    /* word-wrap: break-word; */

    margin: 0;
    padding: 0;
}
/*// H1 TITLE*/

/*! NAVBAR*/

.all-navbar {
    margin: 0 auto;
    background-color: var(--bg-first1) !important;

    z-index: 999;
    position: fixed;
    width: 100%;
    transition: padding .4s ease;
}

/*apply styles after scroll*/

.scrolling-active {
    box-shadow: 0 10px 12px rgba(0, 0, 0, .3);
    background-color: var(--bg-first1) !important;
}

.all-navbar.scrolling-active {
    padding: 0;
}

/*? LOGO*/

.navbar-brand {
    color: var(--text-first2);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s;
    margin-bottom: 0.3rem;
}

.navbar-brand:hover {
    color: var(--text-third1);
}

/** logo effect*/

.navbar-brand span {
    display: inline-block;
    color: var(--text-first2);
    background-color: var(--bg-first-opp);
    text-align: center;
    width: 12px;
    height: 17px;
    line-height: 15px;
    font-size: 20px;
}

.navbar-brand .navbar-toggler {
    margin-bottom: 5px;
}

@keyframes fa-blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

.fa-blink {
    -webkit-animation: fa-blink 1.0s linear infinite;
    -moz-animation: fa-blink 1.0s linear infinite;
    -ms-animation: fa-blink 1.0s linear infinite;
    -o-animation: fa-blink 1.0s linear infinite;
    animation: fa-blink 1.0s linear infinite;
}

/*// logo effect*/

/*//LOGO*/

/*todos links a direita*/

.navbar-nav {
    /* background-color: #242a2c; */
    text-align: center;
}

/*cada link a direita*/

.nav-link {
    display: block;
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important;
    /* border-bottom: 1px dotted rgba(255, 255, 255, .3); */
    text-transform: uppercase;
    font-size: .9rem;
    transition: all .5s ease;
    color: var(--text-first2);
    font-weight: 600;
}

/*! responsividade nav tela desktop*/

@media screen and (min-width: 992px) {
    /*cada link a direita*/
    .nav-link {
        padding-top: 1.35rem;
        padding-bottom: 1.35rem;
        border-bottom: none;
        margin-left: 0rem;
    }
    /*cada link a direita com classe nav-effect*/
    .nav-effect:hover {
        color: var(--text-second2);
    }
    .nav-effect::after {
        margin: auto;
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #fff;
        transition: width .4s;
        /* background-color: #00a000; */
        background-color: var(--bg-second2);
    }
    .nav-effect:hover::after {
        width: 100%;
        transition: width .4s;
    }
    #blog {
        padding: 5px 10px 5px 10px !important;
        margin: 0.9rem 10px 0px 10px;
    }
}

/*! plus tela desktop*/

@media screen and (min-width: 992px) {
    /*scroll top effect*/
    .all-navbar {
        /* height: 250px !important; */
        padding: 20px;
    }
    /*? btn to top*/
    .to-top {
        display: block !important;
    }
    .to-top__btn {
        position: fixed;
        bottom: 12px;
        right: 32px;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ccc;
        color: #333;
        box-shadow: 1px 1px 1px 1px black;
        border-radius: 3px;
        font-size: 26px;
        pointer-events: none;
        text-decoration: none !important;
        transition: all .4s;
        z-index: 99999;
        opacity: 0;
        cursor: pointer;
    }
    .to-top__btn.active {
        bottom: 32px;
        pointer-events: auto;
        opacity: 1;
    }
    .to-top__btn.active:hover {
        color: var(--text-second2);
    }
    /* // btn to top*/
}
.to-top{
    display: none;
 }

#blog {
    background-color: var(--bg-second2) !important;
    box-shadow: 1px #555;
    color: whitesmoke;
}

#blog:hover {
    color: var(--text-third1);
}

/* .checkbox {
    border-bottom: none !important;
}
#switch {
    opacity: 0;
    position: absolute;
    cursor: pointer;
}
.fa-adjust{
    font-size: 27px;
    line-height: 20px !important;
    cursor: pointer;
} */

.flag {
    font-size: 32px;
    margin: 6.4px 16px 0px 10px;
}

.flag span:hover {
    transform: scale(1.2);
    transition: all linear 0.3s;
}

.flag span:not(:hover) {
    transition: all linear 0.3s;
}

/*// NAVBAR*/

/*! MAIN SECTION*/
/*mobile responsivity*/
@media screen and (max-width: 540px) {
    .main {
        /* padding-top: 40% !important; */
    }
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;

    /* padding-top: 160px; */
}

.main .main__img {
    overflow: hidden;
    display: inline-block;
}

.main .main__img img {
    max-width: 160px;
    max-height: 160px;
    /* width: auto;
    height: auto; */
    border-radius: 50%;
    margin-bottom: 25px;
    /* border: 4px solid #00a000; */
    /* box-shadow: 1px 1px 1px 1px black; */
    transition: all 1.5s ease;
}

.main .main__img:hover img {
    transform: scale(0.8);
}

.main h1{
    font-size: 2.2rem;
    font-weight: 800;
    padding-bottom: 15px;
    cursor: pointer;
    color: var(--text-first2) !important;
    text-shadow: 2px 2px 4px var(--text-first-opp);
}

/*icon fontawesome*/

.main a {
    text-decoration: none !important;
    /* color: #fff; */
}

.main  .fab, .main  .fas, .main  .fa-brands {
    text-align: center;
    margin: 5px;
    /**/
    line-height: 50px;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px black;
    transition: all .3s;
    background-color: var(--bg-third2);
    color: var(--text-first2);
}

.main  .fa-linkedin-in:hover {
    color: #3b5999 !important;
}

.main .fa-github:hover {
    color: #323232 !important;
}

.main .fa-youtube:hover {
    color: #c4302b !important;
}

.main .fa-medium-m:hover {
    color: #009F00 !important;
}

.main .fa-dev:hover{
    color: #323232 !important;
}

.main .fab:hover, .main .fas:hover {
    background-color: #fff;
}

/*// icon fontawesome*/

/*// MAIN SECTION*/

/*! ABOUT ME*/

.typing {
    color: var(--text-second2);
}

.about .container {
    padding-bottom: 25px;
}

.about .about__div-text p {
    border-left: solid 1px;
    font-size: 1.25rem;
}

/* #text-about {
    border-left: solid 1px;
    font-size: 1.25rem;
} */

.about img {
    max-height: 400px;
    border-radius: 10px;
}

.about .about__link {
    text-decoration: none;
    color: var(--text-second2);
}

.about .about__link:hover {
    text-decoration: none;
    color: var(--text-second1);
}

.about .about__btn {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.about .about__btn .about__curriculum a{
    position: relative;
    display: inline-block;
    background-color: var(--bg-second1);
    color: #fff;
    text-decoration: none;
    margin-top: 28px;
    padding: 12px;
    border-radius: 5px;

    transition: all ease 0.4s;
}

.about .about__btn .about__curriculum a:hover {
    background-color: var(--bg-second2);
}

.about_certs {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 0px;
}

@media screen and (max-width:512px){
    .about .about__btn {
        flex-direction: column;
    }

    .about_certs {
        margin-top: 54px;
    }
}
/*//ABOUT ME*/

/*PROJECTS*/
.project1__card {
    position: relative;
    height: 300px;
    width: 250px;

    display: block;
    margin: 20px auto;
    /*nao mostra o body q por padrão fica em baixo*/
    overflow: hidden;

    /* box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);  */
    background-color: transparent;
    transition: all 0.8s ease;
}

.project1__card:hover {
    /* box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); */
    transform: translateY(-0.5rem);
}

.project1__card .project1__img {
    /*imagem ficar centralizada e 100% do container card*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.project1__card .project1__img img {
    height: 100%;
    width: 100%;
    object-fit: fill;

    transition: all 0.6s ease;
}

.project1__card:hover .project1__img img {
    transform: scale(0.8);
}

.project1__card  .project1__body {
    /*container body ocupado todo o tamanho dele*/
    position: relative;
    height: 100%;
    width: 100%;
}

.project1__card .project1__body .project1__wrapper {
    position: absolute;
    bottom: -100%;
    padding: 15px;
    width: 100%;

    background-color: var(--bg-white);
    /* box-shadow: -1px -1px 6px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    transition: bottom 0.6s ease;
}

.project1__card:hover .project1__body .project1__wrapper{
    bottom: 0px;
}

.project1__wrapper .project1_title {
    font-size: 18px;
    font-weight: 500;
    color: #000;
}

.project1__wrapper .project1__description {
    font-size: 13px;
    color: #444;
}
.project1__wrapper .project1__footer{
    border-top: 1px solid #B4B4B4;
    display: flex;
    justify-content: center;
    padding: 15px 0 0 0; /*15px do wapper*/
}
.project1__wrapper .project1__footer a{
    margin: 0;
    padding: 0;
    text-decoration: none;

    color: var(--text-second2);
    font-weight: 600;
}

.project2__card {
    font-weight: 400;

    display: block; 
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 

    transition: all .25s; 
}
.project2__card:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    transform: translateY(-1rem);
}
.project2__card .project2__img{
    width: 100%;
    height: 100%;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    display:block;
    overflow: hidden;
}
.project2__card .project2__img img{
    width: 100%;
    height: 200px;
    object-fit: fill; /*cover */ 
    transition: all .25s ease;
}
.project2__card .project2__body{
    padding:15px;
    text-align:left;
}
.project2__card .project2__body .project2__title a{
    color: #000;
    text-decoration: none !important;
}
.project2__card .project2__footer{
    border-top: 1px solid #D4D4D4;
}
.project2__card .project2__footer a{
    text-decoration: none !important;
    padding:10px;
    font-weight:600;
}

.project_git {
    text-align: center;
    padding: 20px 0 50px 0;
}

/*//PROJECTS*/

/*SKILL*/

.skill .skill__card {
    width: 18rem;
    height: 15rem;
    /* text-align: center;
    position: relative; */
    display: block;
    margin: 0 auto;

    border-radius: 20px;
    background-color: var(--bg-third1);
    /* box-shadow:  0 .5rem 1rem rgba(black, .15); */
    cursor: pointer;
    transition: all 0.5s ease;
}

.skill .skill__card .skill__inner {
    text-align: center;
    position: relative;
    height: 100%; /*bug line hover*/
}

.skill .skill__card .skill__inner::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 3px solid transparent;
    border-left: 3px solid transparent;
    border-end-start-radius: 20px;
    transition: all 1s ease;
}

.skill .skill__card .skill__inner::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
    border-start-end-radius: 20px;
    transition: all 1s ease;
}

.skill .skill__card:hover .skill__inner::before, .skill .skill__card:hover .skill__inner::after {
    border-color: var(--text-second2);
    width: 25%;
    height: 25%;
}

.skill .skill__card .skill__icon {
    font-size: 50px;
    color: var(--text-second2);
    transition: all 0.8s ease;
}

.skill .skill__card .skill__title {
    font-size: 1.5rem;
    color: var(--text-first2);
    padding-top: 10px;
}

.skill .skill__card:hover {
    transform: scale(1.05);
}

.skill .skill__card:hover .skill__icon {
    color: var(--text-first2);
}

/*// SKILLS*/

/*KNOW*/
.title-know {
    font-size: 1.5rem;
    border-bottom: 1px solid var(--text-first2);
}

.owl-stage {
    cursor: grab;
    /* cursor: move; */
}

.skills__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: 600;
    padding: .75rem 1rem;
    margin-bottom: 18px;
    border-radius: .5rem;
    /*0 4px 25px rgba(14,36,49,.15) */
    background-color: var(--bg-third2);
    color: whitesmoke;
    overflow: hidden;
}

.skills__data.owl {
    width: 350px;
}

.skills_icon {
    font-size: 2rem;
    margin-right: 12px;
    color: var(--text-first2);
}

.skills__names {
    display: flex;
    align-items: center;
    color: var(--text-first2);
}

.skills__bar {
    position: absolute;
    left: 0;
    bottom: 0;
    height: .25rem;
    margin-left: 2px;
    border-radius: .5rem;
    background-color: var(--bg-second1);
    /* z-index: var(--z-back); */
    width: 100%;
}

.devicon-bash-plain,
.devicon-flask-original,
.devicon-fastapi-plain,
.devicon-kubernetes-plain,
.devicon-grafana-original {
    font-size: 32px;
    padding-right: 8px;
}

svg path {
    fill: var(--bg-first-opp) !important;
    /* --color_fill: #fff !important;
    color: #fff !important; */
}

/*// KNOW*/

/* BUTTON GITHUB*/

.button-icon {
    /* display: block; */
    display: flex;
    justify-content: center;
    margin-left: 60px;
}

.button-icon a {
    text-decoration: none;
    outline: none;
}

.button-icon a:hover {
    text-decoration: none;
    outline: none;
}

.button-icon button {
    position: relative;
    display: block;
    height: 55px;
    width: 150px;
    margin: 0;
    color: #111;
    font-size: 20px;
    /* font-weight: 500;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4); */
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0;
    transition: all 0s ease-out;
}

.button-icon button:active {
    top: 3px;
    text-decoration: none;
    outline: none;
}

.button-icon button.git, .button-icon button.git span {
    background: #cccccc;
    border-left: 1px solid #9f9f9f;
    box-shadow: 0px 5px 0px 0px #9f9f9f;
}

.button-icon button.git:active {
    box-shadow: 0px 2px 0px 0px #9f9f9f;
}

.button-icon button span {
    position: absolute;
    height: 55px;
    width: 60px;
    top: 0;
    left: -60px;
    line-height: 55px;
    font-size: 25px;
    display: block;
    font-weight: normal;
    border-radius: 5px 0 0 5px;
}

.button-icon button:active span {
    top: -3px;
}

.button-icon button.git span {
    border-right: 2px solid #66666666;
}

.button-icon button.git:active span {
    box-shadow: 0px 5px 0px 0px #999999, 6px 4px 2px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 992px) {
    .button-icon button span {
        font-size: 20px;
    }
    .button-icon button {
        font-size: 15px;
        width: 100px;
    }
}

.button-icon .git:focus{
    border-right: 2px solid #66666666;
    outline: 0 !important;
}

/* BUTTON GITHUB*/

/*CONTACT*/

#name, #email, #message {
    color: #212121;
    background-color: whitesmoke;
}

/*// CONTACT*/

/*BTN CONTACT*/

.btn-contact {
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 20px;
    text-decoration: none;
    margin: 20px;
    color: #111;
    position: relative;
    display: inline-block;
    border: none;
    outline: none !important;
    background-color: #cccccc;
    box-shadow: 0px 5px 0px 0px #9f9f9f;
    /* background-color: #004c00;
    box-shadow: 0px 5px 0px 0px #003300; */
}

.btn-contact:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
    border: none;
    outline: none !important;
}

.btn-contact:focus {
    border: none;
    outline: none !important;
}

@media screen and (max-width: 992px) {
    .btn-contact {
        font-size: 15px;
    }
    /* .left-arrow,
    .right-arrow {
        display: none;
        visibility: hidden;
    } */
}

/*// BTN CONTACT*/

#email-contact {
    color: var(--text-second2);
}

#email-contact:hover {
    text-decoration: none !important;
    color: var(--text-second1);
}

#contato input,
#contato textarea {
    background-color: var(--bg-white);
    resize: none;
}

/*! FOOTER*/
footer {
    padding: 20px 0;
    text-align: center;
}
footer p{
    margin: 0;
    color: var(--text-first1);
}
footer .footer__link {
    text-decoration: none;
    color: var(--text-first1);
}

footer .footer__link:hover {
    text-decoration: none;
    color: var(--text-first2);
}
/*// FOOTER*/

/* MODAL */
.modal .modal-content {
    background-color: var(--bg-third1);
    color: var(--text-first2);
}

.modal .modal-content .close {
    color: var(--text-first2);
    opacity: 1;
}

.modal .modal-content .progress {
    width: 100%;
}
.modal .modal-content .progress-bar {
    background-color: var(--bg-second2);
    width: 100%;
}

.modal-content .modal-header{
    border-bottom: 2px solid var(--bg-second1);
}

.modal-content .modal-footer{
    border-top: 2px solid var(--bg-second1);
}

/* prevent page scrolling when a modal is open */
.modal-open{
    padding:0 !important;
    overflow-y: auto;
}

/* //MODAL */

/*ANIMATION CONTACT*/
#status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
    margin-top: 2px;
}

#status.success {
    background-color: rgb(211, 250, 153);
    animation: status 4s ease forwards;
}

#status.error {
    background-color: rgb(250, 129, 92);
    color: white;
    animation: status 4s ease forwards;
}

@keyframes status {
    0% {
        opacity: 1;
        pointer-events: all;
    }
    90% {
        opacity: 1;
        pointer-events: all;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }
}

/*// ANIMATION CONTACT*/

/*ANIMATION >><<*/

/* .text-arrow {
    display: inline-block;
} */

.right-arrow {
    right: 10%;
    animation: simple 1s linear infinite;
    display: inline-block;
    font-size: 1.5rem;
}

.left-arrow {
    left: 10%;
    animation: simple1 1s linear infinite;
    display: inline-block;
    font-size: 1.5rem;
}

@keyframes simple {
    50% {
        transform: translateX(10px);
        opacity: 0.5;
    }
    100% {
        transform: translateX(10px);
        opacity: 0;
    }
}

@keyframes simple1 {
    50% {
        transform: translateX(-10px);
        opacity: 0.5;
    }
    100% {
        transform: translateX(-10px);
        opacity: 0;
    }
}

/*// ANIMATION >><<*/

/*! SCROLL BAR */
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--bg-second1) var(--bg-third1); /* scroll thumb and track */
}

/* Works on Chrome, Edge, and Safari */
body::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: var(--bg-third1); /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: var(--bg-second2); /* color of the scroll thumb */
    /* border-radius: 5px; */
}

/*// SCROLL BAR */